[2013-09-17 16:15] thexavismith opened #3 "To-Do List"
@GarthDB - Will you be compiling a list of things you'd like to do? Or you want to collaborate on that? I'd love to help out.

[2013-09-17 18:17] thexavismith opened #4 "Add a Rakefile with common tasks"
I'm thinking one to run the server, the drafts, an easy command that publishes a draft, etc.

[2013-09-17 20:44] #4 closed, assigned to nobody

[2013-09-18 20:18] thexavismith opened #8 "Move over to Sass"
I'm noticing that we're using CSS, do we plan on moving over to Sass?

I should add that I don't know exactly how we do this on GitHub pages because I use [Jekyll Assets](https://github.com/ixti/jekyll-assets), but I don't know what plugins are cleared on here.

[2013-09-21 18:52] GarthDB opened #9 "Links List"
I notice people saying things here and there about open source design, or doing things in an open way.

I'd love to create a list of links where it would be quick to highlight these things.

I wonder if this should be separate.  Maybe a microblog type of thing, or should they just be blog posts?

[2013-09-21 23:20] GarthDB opened #10 "Let's make an Open Source Design Job Board"
A place to collect open source projects looking for design contributions.

[2013-09-23 16:33] GarthDB opened #14 "Design Inspiration for OpenSourceDesign.is"
I've been trying to think how we could do a collaborative mood board process, I haven't come up with a good solution so I thought we could just collect inspirational pieces here.

[2013-09-23 17:13] sodevious opened #15 "Source Sans Pro Bold not being called"
Only the regular version of the font is being called, leaving boldness rendering up to the browser.

[2013-09-23 18:51] #15 closed, assigned to nobody

[2013-09-24 06:13] #9 closed, assigned to nobody

[2013-09-24 22:06] GarthDB opened #18 "Information Architecture for OpenSourceDesign.is"
We should probably talk about what content should be on the site.  This isn't set in stone, but this is what I think we should go for.

**Goal**:
1. Showcase people practicing good open design methods
2. Inform designers how they can be more open in their design process
3. Be an example of an open source design project from the start

**Content**:
- Articles/blog posts ([already started](http://op

[2013-09-25 01:04] chassycleland opened #19 "Client Confidentiality & NDA's"
I saw this project listed on the IXDA discussion list, and it looked pretty interesting.

Has anyone given thought to how client confidentiality and NDA's fit into the goals for opening up design processes?  My understanding is that the goals of OpenSourceDesign extends to commercial work.  As a consultant & former agency guy, I'd love to collaborate openly, but...
- Every project I've been on has

[2013-09-25 17:48] GarthDB opened #20 "Add Project Timeline"
Taking a page from @bradfrost's book.

https://github.com/bradfrost/project-timeline

[2013-09-25 19:52] smithtimmytim opened #22 "Editorial Workflow"
I was thinking about whether we should have some type of workflow when it comes to submitting post ideas. Should we open a new issue with a new idea and add a "post" label or? Once the post is written, the review process is the same as other things I'd assume. Just submit a pull request.

[2013-09-26 05:17] GarthDB opened #24 "Post about Open Source vs Open Design"
Open source is about the licensing, giving source to the community.  Open design is about designing in the open.  Both might have their place, but we should be clear what we are talking about.

There are more levels to open design than just those two.  There are projects that just publish progress, but don't have a mechanism, or interest in community involvement.  There is still value in that.

[2013-09-26 05:39] #3 closed, assigned to nobody

[2013-09-26 05:49] GarthDB opened #26 "A Post about the Collaborative design discussions happening on github issues"
if all you do is go to the main site, you'd have no idea this is happening back here.

[2013-09-27 17:42] GarthDB opened #29 "Conferences"
If we wanted to speak at more conferences about open source design, what would be good ones to hit up in 2014?

[2013-10-01 06:30] GarthDB opened #32 "Add Microdata to content"
Let's do this right. https://support.google.com/webmasters/answer/176035

[2013-10-01 07:33] GarthDB opened #33 "Branding"
Doing some design work on the brand, feel free to fork the design, comment on layervault, whatevers.

https://layervault.com/garthdb/OSD%20Branding/Branding%20Postcards.ai/7

[2013-10-01 19:07] GarthDB opened #35 "Write a post on comparing design sharing collaboration tools"

[2013-10-04 05:59] #32 closed, assigned to nobody

[2013-10-05 05:02] GarthDB opened #40 "Add another screenshot"
1024x900 px.
in the `/img/screenshots` directory.

[2013-10-11 20:32] GarthDB opened #48 "Added custom error pages"
https://help.github.com/articles/custom-404-pages

[2013-10-12 15:23] sodevious opened #49 "Documentation"
I think there used to be something about git cloning the project and starting the server? Where is that? Can we have something to show people how to get the jekyll server running, etc?

[2013-10-28 20:20] GarthDB opened #54 "Scale bullet list indent"
Got an awesome pull request from @lustandfury that scales our font size a bit better, but it is obvious our list indent should scale too now.

Since the font size is rem based, switching the indent to rems would fix it quickly.

[2013-10-30 02:42] mrondina opened #55 "Topics for podcast"
@GarthDB
I've been thinking about what topics might be interesting to discuss on the podcast. Here are some I've been kicking around.
- tools
- discussions from the project issues list
- best practices and resources to learn more or participate
- methods of open source design and forms it can take
- recent examples of open design
- license types for projects
- what to do when you can't - NDAs, cla

[2013-10-30 06:48] #40 closed, assigned to GarthDB

[2013-10-31 05:57] #54 closed, assigned to nobody

[2013-11-22 03:36] #26 closed, assigned to xavibenjamin

[2013-12-05 10:51] xuv opened #65 "Improving github for designers collaboration"
Hello

I've been working on prototype to help designers work collaboratively with git.
One of the good thing I see with git is the diff feature. It shows you what has changed between two commits. But how do you do this with images for example. So I started working on a diff visualizer for SVG files that shows you in different ways the difference between two commits on the same file.
It's really a

[2013-12-05 17:02] GarthDB opened #66 "Designer Ego and Collaborative Design"
Does the stereotypical designer ego get in the way of collaborating on design effectively.

Includes:
- not wanting to show ideas until they are perfect
- not wanting to share credit
- thinking a project is too valuable to open source

[2013-12-05 19:44] #65 closed, assigned to nobody

[2013-12-06 19:29] GarthDB opened #68 "Custom design for Building this Site"
[Building this Site](http://opensourcedesign.is/blogging_about/building_this_site/)

[2013-12-06 19:32] GarthDB opened #69 "Custom design for How Designers Can Contribute to Open Source Projects"
[How Designers Can Contribute to Open Source Projects](http://opensourcedesign.is/blogging_about/how-designers-can-contribute-to-open-source-projects/)

[2013-12-06 19:33] GarthDB opened #70 "Custom design for The Open Source Design Manifesto"
[The Open Source Design Manifesto](http://opensourcedesign.is/blogging_about/the-open-source-design-manifesto/)

[2013-12-06 19:33] GarthDB opened #71 "Custom design for Designing a Brand in the Open"
[Designing a Brand in the Open](http://opensourcedesign.is/blogging_about/designing-a-brand-in-the-open/)

[2013-12-06 19:34] GarthDB opened #72 "Custom design for Open Design is not Design by Committee"
[Open Design is not Design by Committee](http://opendesign.foundation/articles/open-design-is-not-design-by-committee/)

- [x] moodboard
- [x] wireframe
- [x] mockup
- [x] prototype
- [x] publish

[2013-12-06 19:36] GarthDB opened #73 "Custom design for How To Contribute to a Jekyll Blog on Github"
[How To Contribute to a Jekyll Blog on Github](http://designopen.org/articles/how-to-contribute/)

[2013-12-08 00:27] GarthDB opened #76 "Create code guidelines for contributions"
From something @terracomma mentioned in another issue.

[2013-12-08 00:33] GarthDB opened #77 "Create universal navigation block"
That can be included in all custom post designs.

[2013-12-08 05:20] JamieBEE opened #79 "add the Logo"
I love how the site is looking with the recent pull request.  Can one of you amazing code ninjas create another pull request with the ink pen logo somewhere on the page?

[2013-12-08 06:16] GarthDB opened #80 "Move resources to it's own page"
and organize the crap out of it.

[2014-02-02 16:13] GarthDB opened #85 "make homepage more like a product/campaign"
I've been thinking a bit since yesterday's designathon.

I think we should make the homepage more like a product page. I think the key elements should be:
- Hero (brand, tagline)
- Introductory video
- key element sections (probably taken from the manifesto)
- call to action - start contributing (to this project and others).

Inspiration:
- [Coin](https://onlycoin.com/)
- [Nest](https://nest.com/t

[2014-02-04 07:19] Moodycomputer opened #86 "Baseline Styleguide"
At the Designathon @GarthDB and I attended this last weekend, I worked on a baseline but open styleguide for the general site.

As is, it's bare-bones, basic and simple. Perfect for enhancements from all over the joint.

As a nice-to-have, I installed a jekyll-sass plugin, so our main stylesheet is now in scss.

This whole shebang lives on the styleguide branch. If you'd like, pull down, check it

[2014-02-18 22:34] #79 closed, assigned to nobody

[2014-02-22 01:10] GarthDB opened #95 "Poster Designers"
As we've been working through the [homepage redesign](https://github.com/opensourcedesignis/opensourcedesignis.github.io/issues/85), we've condensed and clarified the [manifesto](http://opensourcedesign.is/blogging_about/the-open-source-design-manifesto/) a bit.

We've distilled it down to something like this:
1. Do stuff that matters
2. Do side projects
3. Share lessons learned
4. Design in the o

[2014-03-03 18:15] Moodycomputer opened #96 "Post explaining style guide and how to contribute"
A Post explaining the reasoning behind the new styles for the site, and setting up a codepen of the styles and a base article for easier contributing.

[2014-04-01 05:13] #49 closed, assigned to nobody

[2014-08-26 00:07] Moodycomputer opened #101 "ReLaunch"
This project has stagnated lately. We've all been swamped with dayjobs and life, but I think it's time we get back to making this awesome.

I propose a sort of relaunch for the site. We step back from everything we've been working on, evaluate what our mission and values will be, come up with some ways to fulfill that, and then relaunch the site with a renewed purpose.

I suggest we come up with a

[2014-09-06 07:13] #96 closed, assigned to Moodycomputer

[2014-09-06 07:13] #8 closed, assigned to nobody

[2014-09-06 07:15] #86 closed, assigned to nobody

[2014-09-28 05:14] GarthDB opened #103 "Now Design Open"
an article about the renaming of the project

[2014-09-30 03:11] #103 closed, assigned to GarthDB

[2014-10-12 00:50] elaineyhwang opened #107 "Create a search engine"
To create a search engine to look for articles/resources.

[2014-11-05 16:09] GarthDB opened #111 "Resource submission form"
Setup a form for people to submit resources.

[2014-11-08 16:20] #101 closed, assigned to GarthDB

[2014-11-10 03:33] Moodycomputer opened #116 "Normalize process for contributing posts and write guidelines and instructions"
Using git for an editorial process doesn't seem to be the best solution, and it creates a barrier to entry for a lot of designers. I did some research and found a few tools that might be worth considering-

stackedit.io
typewrite.io
penflip.com

[2014-11-12 05:10] una opened #118 "Accessibility -- ARIA Roles and Such"
This is more of a reminder for myself to make the site accessible with screen readers using WAI-ARIA roles. See http://a11yproject.com/

[2014-11-14 17:35] rhallac opened #119 "Tutorial for making new post!"
It is really hard to make a new post if one does not understand github, Jekyll, markdown ect. Lets try and lower the barrier to entry and make it easier to contribute!

[2014-11-14 17:52] sachabest opened #120 "Application to simplify uploading process"
Write an application that allows non command-line-savvy users to easily upload to DesignOpen and preview their work

[2014-11-14 21:57] una opened #121 "Styleguide"
Just started doing this -- A style guide could really improve collaboration between designers and devs & promote consistency

[2014-11-14 21:59] una opened #122 "Better Documentation of our Contribution process for Github Workflow"
How can we make it easier for people to understand how to contribute via Github? https://www.atlassian.com/git/tutorials/comparing-workflows/forking-workflow <-- thats a great link for starters

[2014-11-24 15:26] #120 closed, assigned to nobody

[2015-01-31 18:13] cmata23x3 opened #125 "Broken link in the Penn State Post"
The 'community involvement' link in the post is broken.

[2015-01-31 18:38] GarthDB commented on #125
Nice.

[2015-01-31 18:57] kimmobrunfeldt opened #127 "Uncaught ReferenceError: $ is not defined main.js:2"

[2015-01-31 19:21] GarthDB opened #129 "Add Travis"
Make it easier to test that the site is building and there are no broken links or images.

[2015-01-31 19:23] winterdamsel commented on #119
How about making a kind of story/minigame to help them go through and let them have a little fun?

[2015-01-31 19:25] GarthDB commented on #119
Could be good. I'm definitely ok with adding some casual personality as long as we can do it without being cheesy.

[2015-01-31 19:27] terracomma commented on #119
Not cheesy is key.

The core of this problem is that contributing an article is difficult. Is making a tutorial around a difficult process the best solution? Or should we figure out how to simplify the process?

[2015-01-31 19:30] lauweijie opened #131 "Relative URL causes 404 for main.js on certain pages"

[2015-01-31 19:34] winterdamsel commented on #119
"Make if simple to last your whole life long".

[2015-01-31 19:42] winterdamsel commented on #122
Perhaps we can create analogies depending on who's expected to make contributions to the project, ask a couple of simple questions at the beginning and then present them the tutorial in such a way that they can relate to.

[2015-01-31 19:49] #127 closed

[2015-01-31 19:51] #125 closed

[2015-01-31 19:51] #131 closed

[2015-01-31 20:29] winterdamsel opened #134 "Goal-setting and measurement of number of contributions/contributors"
It would be nice to set some targets for the number of people or contributions so that we can see, in the future, either if we should improve a certain part or pay more attention to another. Getting more creative minds involved is what we want and having some kind of track for that could help us see where we're going and where they are going (if they just help a bit and then leave :( )

[2015-01-31 20:32] matiasmakitalo opened #135 "Article header not aligned with other content on mobile screen"
Article-header horizontal margin does not align with other content when device screen width is under 500px.

[2015-01-31 20:43] kimmobrunfeldt opened #136 "Fix list numbers in Barrier For Designers article"
The list numbers overlap with the actual list text after >9 http://designopen.org/blogging_about/barriers-for-designers/

[2015-01-31 22:06] cmata23x3 opened #138 "Designers video is not full width on desktop"

[2015-01-31 22:43] terracomma commented on #138
Are there any more details about this issue?

[2015-01-31 22:47] GarthDB commented on #138
It is something we are fixing, but the blend find video isn't going full width. We're fixing it now.

[2015-01-31 22:59] terracomma commented on #138
The video on this page?
http://designopen.org/blogging_about/designers-can-open-source-session-video/

(I wasn't sure what video we were talking about, the issue title was pretty vague)

[2015-01-31 23:00] cmata23x3 commented on #138
Yeah that one. Sorry about the bad description.

[2015-02-01 00:30] cmata23x3 commented on #138
:+1: done

[2015-02-01 00:36] #138 closed

[2015-02-01 02:30] alicjasalamon opened #143 "Create personas"
It would be nice to create legitimate personas to be aware what would convince users to contribute to open source projects and what is the best way to teach them how to do that.

Sketch of possible personas:
1. 	Designer who wants to contribute, knows how to do this, he is just looking for interesting projects
2. 	Designer who wants to contribute, but has no idea how to contribute and is looking f

[2015-02-01 02:36] winterdamsel opened #144 "Same links are repeated throughout sections"
'Designing in the open' comes up under 'benefits', 'blog' and 'challenges'.

'UK Goverment Redesign', 'Sparkbox Redesign', 'Penn State University Redesign', 'New Internationalist Redesign', 'Mozilla Redesign', 'How To Build An App Project', 'Greater Pittsburgh Community Food Bank Website Redesign', 'Drupal UX' and 'CSS-Tricks Redesign' are in 'example' and 'opendesign'.

Gratisography and EIGHT.ps

[2015-02-01 02:43] una commented on #143
I think #2 is the biggest persona.

Also consider:
Programmer who manages/contributs to an open source project and wants designer contribution

[2015-02-01 03:11] kimmobrunfeldt commented on #136
Fixed in https://github.com/DesignOpen/designopen.github.io/pull/137

[2015-02-01 03:11] #136 closed

[2015-02-01 11:10] alicjasalamon commented on #144
As suggested during the meeting, it might be possible to assign just one tag to each resource so the links in the "Resources" section are not duplicated.
While working on that I've realized that doing so is against the "nature of tags", because they usually come in groups (like Stack Overflow tags or Twitter hashtags).

I can think of two ways to solve this problem:
1. Using the current concept of

[2015-02-01 18:02] GarthDB commented on #144
you're awesome.

[2015-02-01 18:02] #144 closed

[2015-02-01 18:04] GarthDB commented on #144
http://media.giphy.com/media/2UpzC3iPenf44/giphy.gif

[2015-02-01 18:23] alicjasalamon opened #147 "Correct names for categories in Resources section"
After introducing categories instead of tags in Resources section (issue https://github.com/DesignOpen/designopen.github.io/issues/144) now new set of categories that actually make sense should be prepared.

[2015-02-01 18:38] designopenbot opened #148 "Add Resource: Test"
URL: http://someth.com
Category: design
Description: Something random

Submitted by: http://twitter.com/__christianmata

[2015-02-01 18:42] cmata23x3 commented on #148
Disregard. We're working on #111

[2015-02-01 18:42] #148 closed

[2015-02-01 19:42] winterdamsel commented on #122
Some ideas:

![beanstalk](https://cloud.githubusercontent.com/assets/10544578/5993461/f8def6ba-aa59-11e4-933d-929bfc986c07.PNG)

![racingcar](https://cloud.githubusercontent.com/assets/10544578/5993467/168971ae-aa5a-11e4-9579-67a9b9d8182f.PNG)

![fashion](https://cloud.githubusercontent.com/assets/10544578/5993473/49429800-aa5a-11e4-802a-c79526c4d7c9.PNG)

![pizza](https://cloud.githubusercontent.

[2015-02-01 20:32] winterdamsel commented on #147
Can we also add categories for Articles? Or tags.
Current proposals for categories in Articles are:
*About*, those that explain the purpose and efforts regarding the initiative.
*Tutorial/FAQ*, posts with instructions on how to install things.
*Life events*, if someone went to a conference or event
*Inspirational thoughts*, probably there'll be less kittens with that title.

[2015-02-01 22:27] winterdamsel commented on #122
This can also be linked to the [Personas issue] (https://github.com/DesignOpen/designopen.github.io/issues/143). Selecting an approach based on the crowd that we're expecting to get involved.

[2015-02-01 23:50] GarthDB opened #150 "CONTIBUTING.md"
We should probably make some [contributing guidelines](https://help.github.com/articles/setting-guidelines-for-repository-contributors/).

[2015-02-02 00:27] #147 closed

[2015-02-02 00:35] winterdamsel opened #151 "Adding categories for articles"
It would be useful to also add categories in Articles, since they are starting to become a bit scattered.
Current proposals:
**About**, those that explain the purpose and efforts regarding the initiative.
**Tutorial/FAQ**, posts with instructions on how to install things.
**Life events**, if someone went to a conference or event
**Inspirational**, probably there'll be less kittens with that title.

[2015-02-02 00:46] alicjasalamon opened #152 "Clean up tags in the Resources section"

[2015-02-02 03:08] GarthDB commented on #152
I'm pretty sure you fixed this right @alicjasalamon? Closing for now.

[2015-02-02 03:08] #152 closed

[2015-02-02 03:09] GarthDB commented on #151
This is done now right @winterdamsel?

[2015-02-02 03:09] #151 closed

[2015-02-02 03:09] GarthDB commented on #135
you fixed this right @matiasmakitalo ?

[2015-02-02 03:09] #135 closed

[2015-02-02 03:09] GarthDB commented on #129
DONE!

[2015-02-02 03:09] #129 closed

[2015-02-02 15:05] #80 closed

[2015-02-04 11:55] winterdamsel commented on #151
The articles are sorted but I believe we haven't added the proper tags/categories in the blog posts.

[2015-02-05 23:34] GarthDB commented on #33
Opening this back up and talk about branding again.

I really like the idea of using  multiply overlay.  I have a couple color combination ideas.
![image](https://cloud.githubusercontent.com/assets/125516/6071552/5cd53bbe-ad54-11e4-8464-5b163cce5aec.png)

I like the DO acronym and I'm thinking about overlapping the d and o.  Here are a couple ideas.
![image](https://cloud.githubusercontent.com/ass

[2015-02-06 01:43] terracomma commented on #33
I like color overlays as a concept a lot. Thematically there's a ton of good stuff there.

Skillshare does some cool stuff in that vein that's not as heavy- I like their branding a lot.
![skillshare](https://cloud.githubusercontent.com/assets/1408862/6073068/0cf2b174-ad6f-11e4-9aad-6e82495f243b.jpg)

Overlapping the DO is pretty nice- I'm going to explore that a bit too.

And that last thing does

[2015-02-06 05:55] GarthDB commented on #33
I like the Skillshare stuff. It's awesome, and I don't mind biting style if we can do it tastefully (get it, tasteful? bite?)

I'll post the DO file I've worked on so far on pixelapse if you want to play with it.  I would really appreciate the input.

Yes, Barbara Kruger, but it feels like Nike mostly because it says do, in a typeface similar to Futura.

Anyway, thanks for the comment @terracomma

[2015-02-06 07:46] lauweijie opened #158 "Disqus is broken"
Disqus is broken, possibly due to minification of JavaScript in pull request #157.

[2015-02-06 14:45] lauweijie commented on #158
Fixed in PR #159 as recommended by the docs from jekyll-compress-html.

"Inline JS can become broken where // comments used. Please remove the comments or change to /**/ style."

[2015-02-06 16:20] GarthDB commented on #158
accepted pull request!

[2015-02-06 16:20] #158 closed

[2015-02-07 15:39] jdittrich opened #160 "Check design survey questions"
http://m18.uni-weimar.de/pad/p/ossdesignersurvey

- [x] Add new questions (if you know any) for sections "2) Cooperation"
- [x] Add new questions (if you know any) f  3.1. Exposure of finished works
- [ ] "Clean up" sections with many question, which may ask twice for the same.
- [ ] Redirections page Address for sending your experiences
- [ ] Redirections page interesting Links/Projects on/with O

[2015-02-07 15:45] jdittrich opened #161 "Create Developer Survey"
GOAL:
- Cooperation of devs with Designers: Methods, Problems
- How do they think about design/usability/UX and what do they do about it

- [x] setup structure
- [x] talk to developers/open-question-interviews
- [x] create first questions
- [x] finish analysis
- [x] review questions
next: proto survey

[2015-02-07 16:08] GarthDB commented on #151
Open it back up if you're think to work on it. Should we use the same categories as resources? @winterdamsel @alicjasalamon

[2015-02-07 16:30] winterdamsel commented on #151
Would the Articles section be then like a magazine? Then it would make sense to have categories instead of tags.

[2015-02-07 16:32] alicjasalamon commented on #151
Or if Articles are more like a blog then just sort them by date (and eventually add tags)

[2015-02-11 13:13] winterdamsel commented on #143
'Personas' have been created and will be added to the Articles section.

[2015-02-11 13:32] GarthDB commented on #143
Sweet - we could also start a [wiki](https://help.github.com/articles/about-github-wikis/); it's a great way to document things for potential contributors.

[2015-02-11 13:32] #143 closed

[2015-02-11 18:48] jdittrich commented on #143
Great. Is/will there be any documentation how the personas were created?

[2015-02-12 02:52] una commented on #150
Great writeup for writing PR's: https://github.com/blog/1943-how-to-write-the-perfect-pull-request

[2015-02-12 02:53] una commented on #119
Messed up -- meant to tag #118 :P

[2015-02-12 03:19] #118 closed

[2015-02-12 21:19] winterdamsel commented on #143
Not yet but we can create a short document for it :)

[2015-02-15 09:31] alicjasalamon opened #166 "center content of the homepage on wide screens"
Text on the homepage is not centered when screen width > 1400px ![image](https://cloud.githubusercontent.com/assets/3893215/6202781/41ce54a0-b505-11e4-91cb-6581675dc2c4.png)

[2015-02-15 16:47] jdittrich commented on #143
:+1:

[2015-02-16 04:06] GarthDB commented on #166
@alicjasalamon you self assigned this, are you working on it?

[2015-02-16 06:53] alicjasalamon commented on #166
I've just finished :)

[2015-02-16 21:45] GarthDB commented on #166
https://github.com/DesignOpen/designopen.github.io/pull/168

[2015-02-16 21:45] #166 closed

[2015-02-17 20:45] GarthDB opened #170 "Next and previous article links"
We should have a next a previous and next article link on each article page

[2015-02-18 00:36] terracomma commented on #33
Here's a quick little idea I had in the car coming home- a more geometric overall approach and a complete overlay of the D and O.

Thoughts? Questions? Favorite pizza toppings?

![screen shot 2015-02-17 at 6 35 38 pm](https://cloud.githubusercontent.com/assets/1408862/6240411/d0f70896-b6d3-11e4-88a5-691b377952bc.png)

[2015-02-18 05:51] GarthDB commented on #170
fixed in https://github.com/DesignOpen/designopen.github.io/pull/172

[2015-02-18 17:37] GarthDB commented on #170
Thanks @una

[2015-02-18 17:37] #170 closed

[2015-02-18 18:17] GarthDB commented on #121
What are we thinking for a style guide? Let's put some examples together of styleguides we like.

[2015-02-18 18:18] una commented on #121
http://una.github.io/pattern-libraries/

[2015-02-18 18:20] GarthDB commented on #121
Good place to start; I'll look through a bunch and throw in some screenshots of ones I like.

[2015-02-18 18:21] una commented on #121
Good plan! I'll do the same :) :+1:

[2015-02-18 18:21] GarthDB commented on #107
@elaineyhwang I'm assuming you're not working on this any more, do you want me to take you off?

[2015-02-18 18:23] GarthDB commented on #77
Things are closer to this with the addition of the next and previous articles and view all articles.  We can either keep just that or we can all the links in the footer.

[2015-02-19 02:55] mrondina commented on #121
We are working through a responsive design of GE Appliances. To help unify styles with some of the vendors we use for services, we created a style guide - http://www.geappliances.com/ge/online-style-guide/

[2015-02-19 04:55] terracomma commented on #33
Here's a though with a partial overlap and some rounded forms. I like this sort of look better- less machined, more friendly. Thanks for the suggestion!

![screen shot 2015-02-18 at 10 54 17 pm](https://cloud.githubusercontent.com/assets/1408862/6262041/267c27e0-b7c1-11e4-8d27-c0be5acc5f66.png)

[2015-02-25 15:54] una commented on #33
Ok I don't mean to sound like a jerkface, but I love the current logomark. What is the benefit of rebranding?

[2015-02-25 15:56] GarthDB commented on #33
@una I'm a perfectionist who is never 100% happy with his own work.

Do we *love* love it?

[2015-02-25 16:04] mrondina commented on #33
I like the current branding, but I don't think it self communicates well.

[2015-02-25 16:05] GarthDB commented on #33
@mrondina that's a great point; could you expound on it?

[2015-02-25 16:06] ryanbrownhill commented on #33
@una @GarthDB I personally love the current mark!

What I have been doing on pixelapse has been mostly messing around with the typography and thinking about secondary graphics - like git badges etc. I did a little exploration on possibly enhancing the current mark but nothing has sold me yet. Current really rough WIP file [here](https://www.pixelapse.com/GarthDB/projects/designopen/files/Branding/

[2015-02-25 16:07] GarthDB commented on #33
@ryanbrownhill I love the idea of setting up a branding system. It seems like the best way to create a playground for future collaboration and exploration.

[2015-02-25 16:07] mrondina commented on #33
Well, icons work great when they have entered into the social conscience through exposure and proliferation through multiple sources. Take the settings icon; the gear. It's used so frequently that you can feel comfortable that a person will naturally understand what the icon means. With the design open logo, it relies on iconography that is clever, but not necessarily well known. The use of text a

[2015-02-25 16:08] una commented on #33
@ryanbrownhill awesome work! I love the expanded iconography. I agree that I like the logomark, could use some love on typography, and an icon system can expand the brand.

@mrondina I'm curious to hear your take as well on why we should move away from what exists now! :)

[2015-02-25 16:08] GarthDB commented on #33
@mrondina so you're not against the current mark, but pairing it with solid typography would help?

[2015-02-25 16:09] mrondina commented on #33
And I realize that logos are somewhat independent in their use, but it still relies on large amounts of exposure before it is easily recognizable

[2015-02-25 16:09] una commented on #33
@mrondina i agree with your statements about the standalone logo. It would be aided with textual support next to it, especially on the website header

[2015-02-25 16:09] mrondina commented on #33
@GarthDB I think pairing it with type would go a long way

[2015-02-25 16:10] GarthDB commented on #33
Whatever we do, we'll need to work on the exposure front.

[2015-02-25 16:11] una commented on #33
YES! logo + type + icon system + color palette = win

[2015-02-25 16:13] ryanbrownhill commented on #33
@GarthDB @mrondina @una Agreed - typography should be first priority as a next step for our branding.
Then icon system, then color palette, and finally exposure.

With that said: any open source typefaces you know of?
I know of Open Sans, Source Sans Pro.
and the [The League of Moveable Type](https://www.theleagueofmoveabletype.com/)

[2015-02-25 16:16] una commented on #33
I'm excited to synthesize this into a styleguide :) #121

[2015-02-25 16:17] GarthDB commented on #33
@ryanbrownhill Those are the primary ones. Some of the [Google Fonts](https://www.google.com/fonts/) are open sourced.

[2015-02-25 16:19] mrondina commented on #33
@una @GarthDB @ryanbrownhill How important to the brand is the use of Open Source type?

[2015-02-25 16:22] una commented on #33
@mrondina I think its pretty critical. All of our assets should be open source and available for use by anybody. This will allow a style guide and brand that can be expanded without barrier

[2015-02-25 16:23] una commented on #33
Here is @ryanbrownhill's icon set as of right now for visual reference within the thread:

![screen shot 2015-02-25 at 10 20 04 am](https://cloud.githubusercontent.com/assets/1693164/6374705/402110ae-bcd8-11e4-8278-97577119f7e1.png)

[2015-02-25 16:23] GarthDB commented on #33
True, and it speaks to our faith in the practice of open source applied to design. Typography is one of the few areas of design that are actually using licenses correctly.

[2015-02-25 16:28] ryanbrownhill commented on #33
@una Thanks - the exploration above was just seeing what elements make up the current mark and thinking where we can push it. Just sketching in the open.

I agree with @una & @GarthDB I believe using a open typeface is essential for our brand - we need to practice what we preach.

[2015-02-25 16:30] GarthDB commented on #33
that being said, we should feel free to bend the typeface to our will.
![bend to my will](https://cloud.githubusercontent.com/assets/125516/6374882/ee363a0a-bcd0-11e4-8334-a2b28eecabd6.jpeg)

[2015-02-25 16:30] mrondina commented on #33
I don't disagree. Here are a couple of resources that I just googled and haven't vetted :)
http://openfontlibrary.org/
http://www.typewolf.com/open-source-web-fonts

[2015-02-26 06:33] designopenbot opened #177 "Add Resource: Why Developers & Designers Should Work Together"
URL: http://www.dtelepathy.com/blog/business/developers-designers-should-work-together
Category: Inspiration
Description: A great article on the benefits of collaboration between designers and developers.

Submitted by: http://twitter.com/winterdamsel

[2015-02-26 06:45] designopenbot opened #178 "Add Resource: DevMynd Blog: Mind the Gap"
URL: https://devmynd.com/blog/2015-2-mind-the-gap
Category: Philosophy
Description: While this article is about the gender gap issue in technology, it does reference and cite open source a lot. Not really a how-to article but certainly an interesting read

Submitted by: http://twitter.com/una

[2015-02-26 10:31] winterdamsel opened #179 "Home page not updating "Recent Articles""
The last submission, "A call for help", does not come up in the "Recent Articles" section. It does show up when we navigate to the All-articles page.

[2015-02-26 11:25] lauweijie commented on #179
That caught my attention too, but looking at the source, only articles with "featured" as one of the tags get displayed in the "Recent Articles" section on the home page.

[2015-02-26 11:29] lauweijie commented on #111
Since this feature is completed and moved to a repo of its own, I'm closing this issue.

[2015-02-26 11:29] #111 closed

[2015-02-26 14:55] winterdamsel commented on #143
Link with preliminary personas https://docs.google.com/document/d/1fgk5nsTAuvdqW3GjaTF69obr1QmB9LYnUM62CFHZfAU/edit?usp=sharing

[2015-02-26 14:59] winterdamsel commented on #179
Mm...I think there's something else because other articles that are a bit older have that same tag but are not being displayed there.

[2015-02-26 17:57] designopenbot opened #181 "Add Resource: Git smart! 20 essential tips for Git and GitHub users | JavaWorld"
URL: http://www.javaworld.com/article/2113465/developer-tools-ide/git-smart-20-essential-tips-for-git-and-github-users.html
Category: Tutorials
Description: Great set of recommendation for Github

Submitted by: http://twitter.com/una

[2015-02-26 18:04] GarthDB commented on #107
@lauweijie nailed it. Thanks!

[2015-02-26 18:04] #107 closed

[2015-02-26 21:31] designopenbot opened #182 "Add Resource: GitHub for Designers // Speaker Deck"
URL: https://speakerdeck.com/nrrrdcore/github-for-designers
Category: Tutorials
Description: A beck by Julie Ann Horvath on Github for Designers

Submitted by: http://twitter.com/una

[2015-03-06 16:01] designopenbot opened #185 "Add Resource: Facebook and the Myth of an Individual Coding Culture - The New Stack"
URL: http://thenewstack.io/facebook-and-the-myth-of-an-individual-coding-culture/
Category: Philosophy
Description: Facebook and the Myth of an Individual Coding Culture

Submitted by: http://twitter.com/una

[2015-03-06 16:30] #179 closed

[2015-03-06 17:06] GarthDB commented on #177
In https://github.com/DesignOpen/designopen.github.io/pull/186

[2015-03-06 17:06] #177 closed

[2015-03-06 17:06] GarthDB commented on #185
In https://github.com/DesignOpen/designopen.github.io/pull/186

[2015-03-06 17:06] #185 closed

[2015-03-06 17:06] GarthDB commented on #182
In https://github.com/DesignOpen/designopen.github.io/pull/186

[2015-03-06 17:06] #182 closed

[2015-03-06 17:09] GarthDB commented on #181
The url is returning a 503 error and fails the test. I emailed the site peeps, waiting until they fix it to add the resource.

[2015-03-06 17:10] GarthDB commented on #178
In https://github.com/DesignOpen/designopen.github.io/pull/186

[2015-03-06 17:10] #178 closed

[2015-03-11 01:25] designopenbot opened #188 "Add Resource: lolcommits: selfies for software developers"
URL: https://lolcommits.github.io/
Category: Philosophy
Description: A selfie with every commit!

Submitted by: http://twitter.com/una

[2015-03-12 18:36] designopenbot opened #190 "Add Resource: Open source is not just development | Fourword: The Four Kitchens blog"
URL: http://fourword.fourkitchens.com/article/open-source-not-just-development
Category: Inspiration
Description: Open Source: Not just for Development

Submitted by: http://twitter.com/una

[2015-03-12 18:50] una commented on #181
It works for me? try again @GarthDB

[2015-03-12 18:51] GarthDB commented on #181
the link works, or `rake test` completes without errors?

[2015-03-12 19:01] GarthDB commented on #181
Sorry @una, it's still failing https://travis-ci.org/DesignOpen/designopen.github.io/builds/54140107

[2015-03-12 19:06] GarthDB commented on #188
https://github.com/DesignOpen/designopen.github.io/pull/191

[2015-03-12 19:06] GarthDB commented on #190
https://github.com/DesignOpen/designopen.github.io/pull/191

[2015-03-12 20:17] GarthDB commented on #190
resolved in https://github.com/DesignOpen/designopen.github.io/pull/192

[2015-03-12 20:17] #190 closed

[2015-03-12 20:17] GarthDB commented on #188
resolved in https://github.com/DesignOpen/designopen.github.io/pull/192

[2015-03-12 20:17] #188 closed

[2015-03-18 17:51] una opened #194 "Design Contribution/Guidelines (DESIGN.md) Open Discussion"
@lauweijie has a great idea for design documentation by pushing to standardize a `DESIGN.md` file.

The `DESIGN.md` file would include information pertaining to *how* to contribute design and project-specific *guidelines* for this contribution.

If we go this route, we can do this with the project board (check for the existence of a `DESIGN.md` file for admittance) to reinforce this pattern and en

[2015-03-18 17:53] una commented on #150
Similar to #194

[2015-03-18 18:57] mrondina commented on #194
@una So, would the purpose of the design.md file be for the owner of a project to outline the design needs of his project? Or, would it be a guideline provided to designers to understand how to contribute to OS projects?

[2015-03-18 19:49] una commented on #194
@mrondina it would be a general guidelines for designers to understand how they can participate and contribute. I think it would dually work as a means of getting the developers/maintainers to also think through their design needs and workflow. <-- this could change in the future though based on feedback and actual testing, but it's how I interpret it the design guidelines right now :smile:

[2015-03-18 19:54] GarthDB commented on #194
@una is right, github issues is the place to post design needs.  Design needs are ever changing, but the way designers contribute should be standard (ish).

[2015-03-18 19:56] mrondina commented on #194
@una Thanks for the clarification. I can see the benefit of having the guideline. Most of the discussion I think would be what is included. I also think that having a standard doesn't necessarily highlight a divide between design and development.

[2015-03-19 01:05] simonv3 commented on #194
I'd vote for including a section in Contributing.md

[2015-03-19 02:29] RONNCC commented on #194
+1 I would love to know how to contribute for design like a CONTRIBUTING.md for code that lots of orgs have

[2015-03-19 02:42] GarthDB commented on #194
What's the standard way we should use to specify the design section?

[2015-03-19 08:18] simonv3 commented on #194
How are we scoping design? Is it all of UX? Or is it specifically visual?

If the answer is UX, than I'm not sure we can categorize contributions that neatly. For example - is new developer onboarding part of UX?

What if we were cleverer, and looked for `DESIGN.md`, and if it doesn't exist, ask the user to highlight the relevant section in `CONTRIBUTING.md`? It's a bit of extra work, but maybe th

[2015-03-19 09:55] jdittrich commented on #194
* **File vs. Section**: Adding a file (instead of merging a section into contributing) seems the be easier to handle (I like the process @simonv3 described in "… and we then did a PR to the project from within the app…")
* **Naming**: Should it not be *Designing*, so it matches contribut*ing* and is not mistaken for design specs or the like?
* **Scoping** (@simonv3) This is a valid concern. I don’

[2015-03-19 10:45] pdurbin commented on #194
It **is** a great idea but can we back up for a minute and talk about the word "design"? Think about this quote:

Are they talking about the user interface for Firefox? The user experience of an open source app?

No! Well, not necessarily! The quote comes from [The Architecture of Open Source Applications](http://aosabook.org) which covers projects such as...

- nginx
- Sendmail
- ZeroMQ
- CMake
-

[2015-03-19 10:59] bnvk opened #195 "List your Slack channel on your website"
A few ppl in the IRC room have mentioned you have a Slack channel where most of the people in this channel have migrated to instead of being in #opensourcedesign

It'd be swell if that was listed on your website how to join / participate in the Slack thread.

[2015-03-19 19:17] bnvk commented on #194
As per these points, it seems like cramming a bunch into one `CONTRIBUTING.md` file could get a bit overwhelming if you're not a designer / coder you'll have to weed through the "other type" outline. What names that pertain to who should read them:

- `DESIGNERS.md`
- `PROGRAMERS.md`

both of which are linked to from within the `CONTRIBUTING.md` which itself becomes more of document outing a few b

[2015-03-19 19:59] GarthDB commented on #195
That's the downside to Slack, it doesn't have a simple way for non-members to add themselves, or even ask to join. I've reached out to them to see what we can do.

Until something gets implemented on Slack's side, I have Gitter setup and linked in our read me. I get notifications when activity happens, but not much happens there.

Most real conversation happens in our GitHub issues. Our slack team

[2015-03-19 21:49] una commented on #194
@simonv3 what we were also considering is checking for a subhead of `## Design` within `CONTRIBUTING.md`. Also, this design section doesn't really tackle the *needs* of the project -- just how to contribute design work and maybe some design-specific instruction. The *needs* would be within issues that get a label of `design`

@jdittrich interesting point about the naming. I like the ring of `DESIG

[2015-03-19 22:19] GarthDB commented on #195
how about this https://github.com/DesignOpen/designopen.github.io/pull/197

[2015-03-20 01:04] simonv3 commented on #194
@una If it's limited to instructions on contributing design, than to me it makes more sense to keep it in `CONTRIBUTING.md`. I realize that that is harder to look for, but it seems like if we're trying to make the barrier of entry easier, we shouldn't be splitting up where to look for how to contribute to a project.

If we're bringing Design out of Contributing, does that send a message that desig

[2015-03-20 21:08] GarthDB commented on #195
I closing this since I think it is resolved with the google form.

[2015-03-20 21:08] #195 closed

[2015-03-20 21:14] GarthDB commented on #161
@winterdamsel @alicjasalamon @jdittrich would you say this is done? The talk to developers is pretty much completed.

[2015-03-20 21:37] GarthDB commented on #194
I really appreciate the discussion everyone. For now I think the consensus is to move forward with a #Design section in the CONTRIBUTING.md file.

I'm closing this issue, but feel free to make comments if you think we should open it again.

[2015-03-20 21:37] #194 closed

[2015-03-22 15:35] jdittrich commented on #161
we are currently analysing the interviews, so it is still in progress.

[2015-03-22 15:45] jdittrich commented on #29
Maybe https://en.wikipedia.org/wiki/Libre_Graphics_Meeting is interesting too (a bit software oriented and less about design itself though)

[2015-03-22 15:58] jdittrich opened #198 "How-to pages for Designers, Developers, Software project managers"
*partly covered in  CONTIBUTING.md #150 ,  make homepage more like a product/campaign #85*

I think it would make sense to provide How-Tos which are targeted at specific groups where we summarize what they could improve for OSSDesign and what they could gain by doing so.

I thought of Designers, Developers, and Software project managers.
For **designers**, the manifesto is a great start, we can as

[2015-03-22 16:01] jdittrich commented on #198
Infos from https://github.com/opensourcedesign/resources might be very useful

[2015-03-23 19:45] winterdamsel commented on #161
Reanalysing >_< Created a new Trello board for it @GarthDB https://trello.com/b/pFDEaruQ

[2015-03-25 09:11] verpixelt opened #200 "Re/Structure website Sass content"
As I've already talked with @una on Twitter https://twitter.com/Una/status/580506322908659712 this is the first issue for the re/structuring Sass files topic.

I would just like to start with the _todo.scss file and split the containing content into the appropriate Sass partials. During this task I may also clean up a bit (combine duplicated styles, write the declaration more readable, etc).

If t

[2015-03-25 09:42] verpixelt opened #201 "Getting rid of rem as font-sizing unit"
Sizing type with `rem` makes responsive adjustments more rigid. `rem` doesn't scale well. You're only able to size elements on a root based level. I propose to shift to `em`s. This gives the opportunity to scale type on a more modular level.

[2015-03-25 12:05] una commented on #200
sounds goos @verpixelt :) could definitely use some refactoring!

[2015-03-25 12:11] GarthDB commented on #201
I recommend we stay with rems if we are looking for modularity. Ems can compound on each other so doing work on a specific element requires the developer to find all the places font size has been adjusted in the Dom lineage, while rems remain universal to the root regardless of the rest of the elements' settings.

If you can find a compelling case in our project to use ems instead let me know.

[2015-03-25 12:12] GarthDB commented on #200
Excellent @verpixelt. Let us know if we can help.

[2015-03-28 01:56] pdurbin opened #205 "Can designerbot please stop posting to the #opensourcedesign channel on freenode?"
As [requested](https://botbot.me/freenode/opensourcedesign/msg/34037570/) [a few](https://botbot.me/freenode/opensourcedesign/msg/34351826/) [times](https://botbot.me/freenode/opensourcedesign/msg/34924910/) in the freenode #opensourcedesign channel, can designerbot please stop posting there? Thanks!

![irc_logs_for_ opensourcedesign_botbot me_ o_o _-_2015-03-27_21 51 40](https://cloud.githubuserc

[2015-03-29 11:16] winterdamsel commented on #161
Draft of survey can be found @ https://docs.google.com/document/d/1To1mN-OvQnjP8w9fdVj6CzvPsLJIGbHzgFLhoMKtXzQ/edit?usp=sharing

[2015-03-30 15:57] GarthDB opened #206 "Setup Twitter Card page data"
We should setup a default twitter card data and encourage custom twitter cards for custom article designs.

https://dev.twitter.com/cards/types

[2015-03-30 16:53] GarthDB commented on #205
Sorry, I haven't been in the IRC lately.

I've removed the github/irc hook. If you still have issues let me know @pdurbin.

[2015-03-30 16:53] #205 closed

[2015-03-31 17:47] GarthDB commented on #201
I'm closing this for now, @verpixelt if you want to reopen, feel free.

[2015-03-31 17:47] #201 closed

[2015-03-31 17:48] GarthDB opened #209 "Add User Agent to HTML Proofer"
I believe by using https://github.com/typhoeus/typhoeus we would get a user agent.

Some websites return a 403 if no agent is provided.

[2015-03-31 18:04] verpixelt commented on #201
@GarthDB yeah, sure! Will get back to you in a few days ;)

[2015-03-31 19:47] winterdamsel commented on #160
Draft can be located at https://docs.google.com/document/d/1To1mN-OvQnjP8w9fdVj6CzvPsLJIGbHzgFLhoMKtXzQ/edit?usp=sharing

[2015-04-01 12:29] bnvk commented on #195
@GarthDB thanks for adding this to the readme- definitely an improvement as I was able to figure out how to ask to be added. I guess it still feels strange not being listed on the website. Reason being, if the goal of this is to be an "open" community, then showing all methods to engage in conversation should be easy, no? I get that you're saying that's what Gitter is for, but every time I've open

[2015-04-01 13:34] GarthDB commented on #195
@bnvk we could add the instructions for requesting a slack invite to the main page. I'm not against it if we can find a good place for it.

The goal is to be an open community (without quotes) and I'm happy to show all methods to be engaged.

I just broke the ice and made the first post on Gitter. It has some great potential, but it's not the tool any of the existing contributors are using.

At th

[2015-04-01 13:39] bnvk commented on #195
@GarthDB cool cool. I fully get the point of using Slack for all the reasons you mention. I've been exploring various IRC themes and they're all a bit of work and, well open source collaborations take time... hehe :smile:

That said, using Slack, you might want to check out http://rauchg.com/slackin/ as it was made the bridge this gap of "opening" up Slack quite well I think.

[2015-04-01 13:40] GarthDB commented on #195
oh, very cool. That could be exactly what we are looking for.

[2015-04-01 13:50] GarthDB opened #210 "Setup Slackin"
[Slackin](http://rauchg.com/slackin/) seems like a perfect fit for our team.

The recommendation came from @bnvk in https://github.com/DesignOpen/designopen.github.io/issues/195#issuecomment-88483601

[2015-04-01 14:49] terracomma commented on #210
This looks like the coolest thing. I like opening up Slack as much as possible.

[2015-04-01 15:58] bnvk opened #211 "Allow @OpenSourceDesign to use @DesignOpen logo"
Both communities have differing core contributors and some differing ideas and immediate goals. However, both communities seem to be ultimately working towards the same larger goal of "bringing great design to open source software" thus I am asking on behalf of the @opensourcedesign portion to use the wonderful logo created @DesignOpen folks

There is concern about *how* our group might use the lo

[2015-04-01 18:16] jdittrich commented on #211
[Related](https://github.com/opensourcedesign/resources/issues/14)

[2015-04-01 19:24] jdittrich opened #212 "differences designopen/opensourcedesign"
I contribute to both [DesignOpen](https://github.com/DesignOpen) and [OpenSourceDesign](https://github.com/opensourcedesign). There seem to be significant overlaps in regards to contributors and goals.

I wonder in which regards the both projects differ/are similar – are there important "ideological"  differences? A sort of segmentation towards different aspects (like DesignOpen focusing on sharin

[2015-04-01 19:28] jdittrich commented on #211
I suppose, yes, people are more likely to modify an icon. e.g. one always reads in CI-Guides that it is a major offence to change a *logo*

[2015-04-01 20:05] GarthDB commented on #212
I commented on [this issue](https://github.com/opensourcedesign/resources/issues/14) since I think its the most likely to have more participants.

[2015-04-02 06:25] lauweijie commented on #210
I could help set this up, but I'll need a slack API token that has permission to invite users.

https://osd-slackin.herokuapp.com/

[2015-04-02 10:41] jancborchardt commented on #211
It would really be cool to have it as a more general icon. Similar to how it is derived from the open source icon, just like the open hardware icon etc.

[2015-04-02 13:30] jdittrich commented on #211
To ease understanding, these are the logos @jancborchardt refereed to:
![opensource](https://cloud.githubusercontent.com/assets/3416487/6964778/b8a772e4-d94c-11e4-985d-996ebe2ea7fa.png) ([source](http://en.wikipedia.org/wiki/File:Opensource.svg), [CC BY 2.5](http://creativecommons.org/licenses/by/2.5/deed.en))
![open-source-hardware-logo svg](https://cloud.githubusercontent.com/assets/3416487/6964

[2015-04-02 14:47] simonv3 commented on #195
Just as a side note, at OpenFarm we're playing around with this Slack-IRC channel communicator. It was very easy to set up: https://github.com/ekmartin/slack-irc.

You just point it at a channel within your slack, and at a channel on an IRC channel, and things get sent back and forth. Only downside is that if everyone is on Slack who's part of your permanent team, your IRC channel looks pretty emp

[2015-04-02 15:03] GarthDB commented on #195
Very interesting. What about trying to ping one person in particular in slack from the IRC?
It doesn't seem like that would be possible.

[2015-04-02 17:11] GarthDB commented on #210
@lauweijie finished it already.

[2015-04-02 17:11] #210 closed

[2015-04-02 17:12] GarthDB commented on #200
Hey @verpixelt, do you want to call this finished?

[2015-04-02 22:20] simonv3 commented on #195
No I don't think so :(
On Apr 2, 2015 10:03 PM, "Garth Braithwaite" <notifications@github.com>
wrote:

[2015-04-03 07:22] verpixelt commented on #200
Hey @garthdb, no not yet. Sry I'm a bit swamped with stuff right now.

[2015-04-03 12:51] GarthDB commented on #200
@verpixelt no need to apologize. I knew you made a pull request and wanted to see if that covered what you wanted to do with this.

If you need any help let us know.

[2015-04-17 20:37] #209 closed

[2015-04-21 15:22] bnvk commented on #211
Looks like the folks at Open Annotation had a similar idea to much success

![open anontation](https://cloud.githubusercontent.com/assets/48677/7255589/73f0212a-e84a-11e4-9696-0728b472bbee.png)

Speaking of @GarthDB did you want to follow up with any terms / conditions on this thread? I'm about ready to throw together a design for our splash page and am planning on using your nifty icon!

Close th

[2015-04-21 15:28] gillisig commented on #211
:+1: I think this is a great idea!

[2015-04-28 01:13] bnvk commented on #211
As per [this comment](https://github.com/opensourcedesign/jobs/issues/26#issuecomment-96839125) by  the DesignOpen icon has been removed from the OpenSourceDesign.net site. I'm closing this issue as this is no longer something I want to pursue or try using.

[2015-04-28 01:13] #211 closed

[2015-04-29 10:40] verpixelt opened #230 ""Designers can open source session video" article page broken"
The page looks a bit broken to me =/
Can't rebuild it locally though. It looks like the content gets injected twice before the actual article tag.

![design-open](https://cloud.githubusercontent.com/assets/1640079/7389238/69d347e4-ee6c-11e4-924e-8eead9b5784a.png)

[2015-04-29 14:11] GarthDB commented on #230
Hey @verpixelt thanks. I broke it yesterday with adding twitter card support.

https://github.com/DesignOpen/designopen.github.io/pull/231 will fix it.

[2015-04-29 14:18] GarthDB commented on #230
fixed https://github.com/DesignOpen/designopen.github.io/pull/231

[2015-04-29 14:18] #230 closed

[2015-05-05 01:27] terracomma opened #233 "Make resources its own site"
Is there value in moving the resources part of the site to its own site?

Mainly, I'm thinking this could grow and evolve into a much wider thing if it had its own url and interface and experience. If we opened this up it could be great to just throw any and all design resources into and create some interesting conversations around learning. Decoupling from jekyll/gh-pages also allows us to have a

[2015-05-22 19:17] GarthDB opened #240 "Move to OpenDesign.Foundation"
Changing our url. I'll set up redirects, but if I miss anything from the previous site, let me know.

[2015-05-22 19:24] GarthDB commented on #240
Things to change/update:
- [ ] gh-pages cname
- [ ] GitHub org (no idea what the new one should be; maybe I'll contact [opendesign](https://github.com/opendesign) to see if they are open to handing it over)
- [ ] Resource collector url (is this worth doing a subdomain on opendesign.foundation for this @cmata23x3 @lauweijie ?)
- [ ] Look at getting a trademark for Open Design, and look at getting t

[2015-05-22 19:44] lauweijie commented on #240
I think a subdomain for the resource collector would be good though not absolutely necessary. If you're using the Chrome extension, the domain is hidden under the hood once the extension is installed. The bookmarklet shows the domain name in the address bar of the popup dialog.

[2015-05-22 20:20] GarthDB commented on #240
yeah. I'll add it to heroku (heroku can support multiple urls)
@lauweijie are there any changes that need to be made to the code itself?

[2015-05-22 22:29] lauweijie commented on #240
@GarthDB If the original URL still works then it should be fine.

Once it resolves, we can update these lines:

1. https://github.com/DesignOpen/ResourceCollector/blob/master/gulpfile.js#L69

2. https://github.com/DesignOpen/ResourceCollectorChromeExtension/blob/master/manifest.json#L23

3. https://github.com/DesignOpen/ResourceCollectorChromeExtension/blob/master/src/popup/popup.js#L155

[2015-06-14 10:50] edouerd opened #246 "Greetings! Interested in helping out, don't know where to start!"
Hi everyone! Good to meet ya'll.

I'm a designer at IBM, heard about this org via a few colleagues, and have been watching things progress from a distance — decided to finally reach out because I'm interested in helping out, but I don't know how.

I came into awareness of FOSS culture via physical product design and the onset of 'maker culture', and it wasn't until much later that I discovered the

[2015-06-16 18:00] GarthDB commented on #246
Hey @edouerd

Glad to hear you're interested in helping.

There are a few ways to jump in depending on what you want to start with. Most of it is all detailed in our [CONTRIBUTING.md](https://github.com/DesignOpen/designopen.github.io/blob/master/CONTRIBUTING.md) file.

Feel free to ping us anytime on [Slack](http://slack.opendesign.foundation).

[2015-10-20 23:22] xuv commented on #35
Just to let you know. Without knowing your initiative here, I started analyzing collaborative tools for designers on my blog. I've done this in chapters.
- [Collaborative tools for designers – Part 1](http://p.xuv.be/collaborative-tools-for-designers-part-1) Mainly, the introduction and what I'm looking for.
- [Part2: Dropbox](http://p.xuv.be/collaborative-tools-for-designers-part-2-dropbox)
- [Pa

[2015-10-20 23:34] GarthDB commented on #35
@xuv This is awesome. If you publish it on your blog we will add it to references, or you can publish it here if you'd like.

[2015-10-21 14:16] xuv commented on #35
@GarthDB I don't mind posting them here. How do you want me to do this? Should I fork or you add me to the list of contributors? Let me know.

[2015-10-21 14:23] GarthDB commented on #35
@xuv that's up to you. If you want to be involved past this article I'm more than happy to add you to the contributors.

[2015-10-21 14:29] xuv commented on #35
@GarthDB Well, I'm working on a tool right now to try to solve the problems and gather the ideas exposed in the articles I wrote. So I'm definitely interested in the approach you are promoting here. But I  don't have a precise idea of what you mean by "getting involved". What is it that you require?

[2015-10-21 14:43] GarthDB commented on #35
No commitment. We're a pretty easy going bunch.
We've had some people write articles as forks, and others do it as contributors on branches. I'll add you if that works.

[2015-10-21 14:45] xuv commented on #35
@GarthDB Ok. As you've seen, I've posted 6 articles on my blog regarding those tools. Should I just copy them all? Not sure about the best approach here.

[2015-10-21 15:28] michaelck commented on #206
Just a note: it looks like the "default twitter card" portion of this issue was addressed with your commit on April 28th: https://github.com/DesignOpen/designopen.github.io/commit/5d65358661e1a080fdd537e8a7e3087ef13a1569

[2015-10-21 15:34] GarthDB commented on #206
Good call. More work to do, but we should close this one. Thanks @michaelck

[2015-10-21 15:34] #206 closed

[2015-10-21 15:49] michaelck commented on #206
No problem! I just happened to be looking for an issue to contribute to. Feel free to tag me on similar tasks to this one.

[2015-10-22 22:34] Vasafa commented on #69
This link is no longer working.

[2015-10-22 22:35] Vasafa commented on #68
Also broken.

[2015-10-22 22:48] michaelck commented on #69
@Vasafa Updated link: http://opendesign.foundation/articles/how-designers-can-contribute-to-open-source-projects/

[2015-10-22 22:49] michaelck commented on #68
@Vasafa Updated link: http://opendesign.foundation/articles/building_this_site/

[2015-10-22 22:50] GarthDB commented on #68
Thanks @michaelck

[2015-10-22 22:50] GarthDB commented on #69
:+1:

[2015-10-22 22:51] GarthDB commented on #35
@xuv it would probably be best to make it one article. You could summarize and point to the original posts, or you can make a long article. Nothing wrong with a long cogent article.

[2015-10-26 20:11] xuv commented on #35
@GarthDB Ok. I'll do a wrap up of all those into one. It'll take me a little time, but I'll do a pull request once it's done.

[2015-10-26 23:16] GarthDB commented on #35
:+1:

[2015-10-27 22:00] dheilq opened #252 "CALL US 1.844.461.2828 google chrome browser customer services phone number"
CALL US 1.844.461.2828 google chrome browser technical support telephone number
CALL US 1.844.461.2828 google chrome browser technical support telephone
CALL US 1.844.461.2828 google chrome browser technical support phone number
CALL US 1.844.461.2828 google chrome browser technical support phone
CALL US 1.844.461.2828 google chrome browser technical support
CALL US 1.844.461.2828 google chrome br

[2015-10-27 22:01] dheilq opened #253 "HELP DESK 1.844.461.2828 google chrome browser technical support phone number"
Help desk ((1.844.461.2828)) google chrome browser customer service phone number
HELP DESK 1.844.461.2828 google chrome browser technical support telephone number
HELP DESK 1.844.461.2828 google chrome browser technical support telephone
HELP DESK 1.844.461.2828 google chrome browser technical support phone number
HELP DESK 1.844.461.2828 google chrome browser technical support phone
HELP DESK 1.8

[2015-10-27 22:01] bhartiyaresh opened #254 "Hp canada/usa Phone Number 1-844-461-2828 Hp printer tech support phone number Hp printer customer support phone number Hp printer helpline phone number"
Hp  printers 1-844-461-2828 Hp  printer phone number 1-844-461-2828 Hp  printer customer service telephone number 1-844-461-2828 Hp  printer support 1-844-461-2828 Hp  printer service center 1-844-461-2828 Hp  printer support number 1-844-461-2828 Hp  printer customer service number usa 1-844-461-2828 Hp  phone number 1-844-461-2828 Hp  printers customer care number 1-844-461-2828 Hp  printer serv

[2015-10-27 22:24] SUNBURU6 opened #255 "Avg canada/usa Phone Number 1-844-461-2828 Avg antivirus technical support phone number Avg antivirus customer support phone number Avg antivirus help desk phone number"
Avg antiviruss 1-844-461-2828 Avg antivirus phone number 1-844-461-2828 Avg antivirus customer service telephone number 1-844-461-2828 Avg antivirus support 1-844-461-2828 Avg antivirus service center 1-844-461-2828 Avg antivirus support number 1-844-461-2828 Avg antivirus customer service number usa 1-844-461-2828 Avg phone number 1-844-461-2828 Avg antiviruss customer care number 1-844-461-2828

[2015-10-28 14:05] #246 closed

[2015-10-28 14:05] #240 closed

[2015-10-28 14:05] GarthDB commented on #240
Closing for now. Might reopen individual items as new issues.

[2015-10-28 14:11] #160 closed

[2015-10-28 14:11] #161 closed

[2015-10-28 15:06] MULTISOFT13 opened #256 "!!~~___!!! 1 866 362 8280 ASUS ROUTER tech support number, ASUS ROUTER tech support phone number"
!!~~___!!!+++++1 866 362 8280 ASUS ROUTER tech support number, ASUS ROUTER tech support phone number
+1 866 362 8280 ASUS ROUTER tech support number, ASUS ROUTER tech support phone number
__________@@@@@!!!USA 1866.362.8280 ASUS ROUTER tech support number ASUS ROUTER tech support phone number ASUS ROUTER technical support number
++++**1.866.362.8280 ASUS ROUTER 360 customer support phone number+++

[2015-10-28 15:37] lavish12 opened #257 "dell ~1- 844 247 1987 **$@@HP printer ## support phone number @#$dell printer support number"
dell ~1- 844 247 1987 **$@@HP printer ## support phone number @#$dell printer support number

//dell @@ 844-247-1987 $@@HP printer ##!technical support phone number//@#$ dell HP printer technical support phone number, dell HP printer technical support phone number, dell HP printer technical support phone number, dell HP printer technical support phone number, dell HP printer technical support phon

[2015-10-28 15:38] #256 closed

[2015-10-28 15:38] #257 closed

[2015-10-28 16:26] #255 closed

[2015-10-28 16:26] #254 closed

[2015-10-28 16:26] #253 closed

[2015-10-28 16:26] #252 closed

[2015-10-28 16:46] GarthDB opened #258 "Make a Spotify Playlist for the workshop"
spotify:user:garthdb:playlist:37IvA3rgeGlUhUh2Oy6mO9

[2015-10-28 16:49] GarthDB commented on #258
https://open.spotify.com/user/garthdb/playlist/37IvA3rgeGlUhUh2Oy6mO9

[2015-10-28 16:57] GarthDB commented on #72
Working on this for the workshop.

[2015-10-28 16:59] mrondina opened #259 "Custom design for Facebook open academy article"

[2015-10-28 17:01] mrondina commented on #259
![image](https://cloud.githubusercontent.com/assets/938691/10796288/d9494fec-7d5a-11e5-92ea-63dab6cbcfbc.png)

[2015-10-28 17:17] GarthDB commented on #72
I like the styling on this block quote:
![image](https://cloud.githubusercontent.com/assets/125516/10796815/10203510-7d5d-11e5-8066-a029207091e1.png)

[2015-10-28 17:18] GarthDB commented on #72
![image](https://cloud.githubusercontent.com/assets/125516/10796840/25ba491a-7d5d-11e5-93b3-90c986a30743.png)

[2015-10-28 17:19] GarthDB commented on #72
I love this line between the image and the content:
![image](https://cloud.githubusercontent.com/assets/125516/10796881/4790b89e-7d5d-11e5-82ac-c2cb78465c64.png)

[2015-10-28 17:29] GarthDB commented on #259
![fb_open_academy_2015](https://cloud.githubusercontent.com/assets/125516/10797199/b65eeccc-7d5e-11e5-906c-037ec53b6482.jpg)

[2015-10-28 17:29] #258 closed

[2015-10-28 17:45] adcolpitts commented on #72
<img width="1426" alt="screen shot 2015-10-28 at 10 44 23 am" src="https://cloud.githubusercontent.com/assets/7290661/10797655/ed0f90d0-7d60-11e5-8467-43d2102593f4.png">

Image is actually a video

[2015-10-28 17:49] GarthDB commented on #72
image: https://en.wikipedia.org/wiki/Joint_session_of_the_United_States_Congress#/media/File:Obama_Health_Care_Speech_to_Joint_Session_of_Congress.jpg

[2015-10-28 18:50] una commented on #72
I love this thread -- particularly the first layout. The angles are nice but I really like the square-bracket-esque-route. Just my two cents

[2015-10-28 18:51] mrondina commented on #259
What are your thoughts about this direction?
![image](https://cloud.githubusercontent.com/assets/938691/10799462/2fb6ef56-7d6a-11e5-94a4-cf3d7367baa0.png)

[2015-10-28 18:53] sishipman commented on #259
![image](https://cloud.githubusercontent.com/assets/15128081/10799518/72a348d2-7d6a-11e5-8403-46345195da48.png)

[2015-10-28 18:54] mrondina commented on #259
another variant
![image](https://cloud.githubusercontent.com/assets/938691/10799541/9402a5a4-7d6a-11e5-9423-9241fe5f2e7f.png)

[2015-10-28 18:57] sishipman commented on #259
![image](https://cloud.githubusercontent.com/assets/15128081/10799625/fecc08da-7d6a-11e5-96a5-8e95f6611113.png)

[2015-10-28 18:57] mrondina commented on #259
I like the color plus Silas' shadow version the best

[2015-10-28 20:54] mtsugi commented on #72
Did a quick exploration of how a column structure with pages might work

![type-layout](https://cloud.githubusercontent.com/assets/166028/10802656/4b9d9e7a-7d7b-11e5-8ec0-b9444edd9509.png)

[2015-10-28 21:00] GarthDB commented on #259
![image](https://cloud.githubusercontent.com/assets/125516/10802832/290f9fc4-7d7c-11e5-888d-b403dc6c5b49.png)

![image](https://cloud.githubusercontent.com/assets/125516/10802834/2f246c78-7d7c-11e5-9aaa-d586b08a6006.png)

[2015-10-28 21:00] GarthDB commented on #259
![image](https://cloud.githubusercontent.com/assets/125516/10802843/3d1cb204-7d7c-11e5-83cb-bcf30940ca45.png)

[2015-10-28 21:08] sishipman commented on #259
![fboa_banner_v2](https://cloud.githubusercontent.com/assets/15128081/10803013/5947ee0c-7d7d-11e5-9a02-75b2e389dd2a.png)

[2015-10-28 21:22] mtsugi commented on #72
more pretty pages:
- [Good Magazine](http://magazine.good.is/articles/wikipedia-translation-language-information) Pretty article/type
- [Medium](https://medium.com/message/human-protocol-handshaking-84340025e01d#.8vpz56f07) Pretty article/type
- [Pitchfork cover pages](http://pitchfork.com/features/cover-story/reader/janelle-monae/) interesting work
- [eephus league magazine](http://eephusleague.c

[2015-10-28 23:33] mtsugi commented on #72
predictably, the column experiment didn't pan out. It would have required something like CSS regions to get the content to reflow in an intelligent way.

[2015-10-29 06:41] #259 closed

[2015-10-29 06:41] #72 closed

[2015-11-02 23:07] GarthDB opened #269 "Write a book"
you know, a small project.

I would like to put together some ideas and strategies for open source design in a book. Probably would be best to use something like [GitBook](https://www.gitbook.com/).

[2016-04-16 04:37] ttimsmith opened #273 "SCSS Refactoring and Linting"
I was looking through the stylesheets, and I think there might be some refactoring to do. Eliminating CSS using ID's and maybe use some linting? We could use something like CodeClimate or having a pre-commit hook to lint.

[2016-04-16 04:39] GarthDB commented on #273
Sounds awesome. We already have Travis and we could lint there as well.

[2016-04-16 04:39] GarthDB commented on #273
Anything you want to jump on? Or just recommending we do it?

[2016-04-18 01:55] ttimsmith commented on #273
I figured I could tackle the refactoring first. And create a smaller pull request. If you want, I can simplify the description and title of the issue for just that.

[2016-04-18 18:20] GarthDB commented on #273
@ttimsmith that sounds great - so I setup scss-lint with [travis-ci](https://travis-ci.org/DesignOpen/designopen.github.io/builds/123978924) on the [scss-lint branch](https://github.com/DesignOpen/designopen.github.io/tree/scss-lint)

It has a config file ([/.scss-lint.yml](https://github.com/DesignOpen/designopen.github.io/blob/scss-lint/.scss-lint.yml)) but I just turned off all the linters, so

[2016-04-18 18:21] GarthDB commented on #273
@ttimsmith we can chat about it here in the issue or you could jump on slack http://slack.opendesign.foundation/

[2016-04-18 20:06] ttimsmith commented on #273
Sure! I put in my email twice, but no invite.

[2016-04-19 11:37] AStoker commented on #273
Popping in here. What are you guys using for compiling your code (if at all)? You can easily build in your scss compiling/linting into that process with something like Gulp.

[2016-04-19 13:25] GarthDB commented on #273
@astoker we are using Jekyll, it has built in support for SCSS. The real benefit is that it compiles on the server (gh-pages) so people can contribute a new article or new code and we don't have to build it locally before publishing.

[2016-04-19 13:27] GarthDB commented on #273
As far as locally checking it, the rake task makes it easy and scss-lint has pretty good editor support. I'm using atom with a scss lint plugin and it will lint the project based on the config file as I go.

[2016-04-19 13:29] AStoker commented on #273
Gotcha, gonna look into that, thanks.

[2016-04-19 13:39] GarthDB commented on #273
@astoker feel free to poke holes in the build process.

[2016-04-21 18:34] #273 closed

[2016-04-21 18:35] GarthDB commented on #273
@ttimsmith I added a bunch of SCSS Linting. I didn't do everything, but good enough for me right now. If you want to add more just open pull requests and/or issues.

[2016-04-21 18:45] GarthDB opened #279 "MOAR LINTING"
@ttimsmith has sold me on automated linting. I'm thinking I should checkout https://github.com/mivok/markdownlint

There is a little bit of javascript, perhaps we should lint that as well.

[2016-04-21 18:45] GarthDB opened #280 "Clean up main directory"
It's a mess. All the config files aren't helping, but I think we could move a whole bunch into directories

[2016-04-21 22:45] #279 closed

[2016-04-22 20:17] ttimsmith commented on #273
Wow. You move quick. I was going to get to this in the next few days. I'll take a look when I get back on Tuesday.

[2016-04-22 22:33] GarthDB commented on #273
I've been thinking about adding it to the PhoneGap Jekyll sites so this was a great testing ground.

[2016-04-30 18:26] GarthDB opened #285 "Can't move to jekyll-feed yet"
I was going to remove the atom.xml file in favor of using the [jekyll-feed](https://github.com/jekyll/jekyll-feed) plugin, but there is a bug stopping it from displaying authors correctly. I made a [pull request](https://github.com/jekyll/jekyll-feed/pull/113) with updated tests. Once the gem has been released with the fix and the [github-pages gem](https://pages.github.com/versions/) has updated

[2016-04-30 18:27] #280 closed

[2016-04-30 18:27] GarthDB commented on #233
@terracomma what stack would you want to use and what functionality could we add?

[2016-04-30 18:28] GarthDB commented on #212
I think it was well answered, closing unless we need to reopen.

![image](https://cloud.githubusercontent.com/assets/125516/14937775/1591cc44-0ecf-11e6-9848-31e7aa994e20.png)

[2016-04-30 18:28] #212 closed

[2016-04-30 18:29] GarthDB commented on #200
@ttimsmith has already started some of this and we added scss_lint to help out.

[2016-04-30 18:29] #200 closed

[2016-04-30 18:35] GarthDB commented on #181
Fixed and added. Sorry for the stupid long delay @una

[2016-04-30 18:35] #181 closed

[2016-04-30 18:38] GarthDB commented on #150
Aaaaaaand done.

[2016-04-30 18:38] #150 closed

[2016-04-30 18:40] GarthDB commented on #116
Another one to consider now is just using the GitHub interface because it supports creating new documents and such.

[2016-04-30 19:17] GarthDB commented on #48
Still needs to happen, but now the url is different so that might change some things.

[2016-09-21 16:38] #22 closed

[2016-11-07 01:27] athyuttamre commented on #35
Not sure how updated this is, but Figma recently launched with multiplayer design (mutliple designers working in the same file at the same time): www.figma.com.

[2016-11-08 00:56] xuv commented on #35
@athyuttamre Thx for sharing the link. I did not write a summary of my articles as @GarthDB suggested. But I'm surely still actively looking and studying for tools in this field.

[2019-11-11 11:43] jsccosta commented on #18
Hello @GarthDB, what is the status of this project? Is it still going?

[2019-11-15 23:38] GarthDB commented on #18
@jsccosta not really. I'd love to resuscitate it if there is any interest.